<footer class="footer">
  <div class="footer__social-media">
    <ul class="social">
      <li class="social__item"><a href="" class="social__link" title="Facebook"><i class="fa-brands fa-facebook"></i>  /BerlinTours</a></li>
      <li class="social__item"><a href="" class="social__link" title="Instagram"><i class="fa-brands fa-instagram"></i> @BerlinTours</a></li>
      <li class="social__item"><a href="" class="social__link" title="Youtube"><i class="fa-brands fa-youtube"></i>  /BerlinToursTV</a></li>
    </ul>
    <ul class="legal">
      <li class="legal__item"><a href="" class="legal__link">Política de privacidad</a></li>
      <li class="legal__item"><a href="" class="legal__link">Política de <i lang="en">cookies</i></a></li>
      <li class="legal__item"><a href="" class="legal__link">Aviso legal</a></li>
    </ul>
  </div>
  <div class="form">
    <p>¿Tienes alguna duda?</p>
    <label for="username" class="form__label">Nombre:</label>
    <input type="text" id="username" class="form__input">
  
    <label for="password" class="form__label">Email:</label>
    <input type="password" id="password" class="form__input">
    
  <label for="question" class="form__label">Haz tu pregunta:</label>
  <textarea type="text" id="question" class="form__textarea"></textarea>

    <div class="form__terms">
      <input type="checkbox" id="acceptTerms" class="form__checkbox">
      <label for="acceptTerms" class="form__label">Acepto los términos y condiciones</label>
    </div>
  
    <button type="submit" class="form__button">Enviar <i class="fa-solid fa-chevron-right"></i></button>
  </div>
</footer>
