<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <script src="https://kit.fontawesome.com/d45755a3b2.js" crossorigin="anonymous"></script>

  </head>
<header class="header">

    <a href="#hero"><img class="header__logo" src=".\assets\images\logo.svg" alt="Logo"></a>

    <nav class="header__nav">
        <ul class="header__nav">
            <li><a href="#">Historia <i class="fa-solid fa-chevron-right"></i></a></li>
            <li><a href="#">Isla de los museos <i class="fa-solid fa-chevron-right"></i></a></li>
            <li><a href="#">Mercadillos <i class="fa-solid fa-chevron-right"></i></a></li>
            <li><a href="#">Gastronomía  <i class="fa-solid fa-chevron-right"></i></a></li>
            <li><a href="#">Parques  <i class="fa-solid fa-chevron-right"></i></a></li>
        </ul>
    </nav>
</header>